<div id="header-component" class="header-container">
    <div id="header" class="layout-row layout-wrap header-container__header">
        <div class="flex-20 header-container__logo">
            <img src="https://www.bankopen.co/images/1hzn39g-open-512-horlock-transparent_05i02205i022000000.png"
                alt="image">
        </div>
        <div class="flex-60 header-container__nav">
            <div class="header-container__nav--items">Feature <span class="pi pi-angle-down"></span></div>
            <div class="header-container__nav--items">Products <span class="pi pi-angle-down"></span></div>
            <div class="header-container__nav--items">Developers</div>
            <div class="header-container__nav--items">Pricing</div>
            <div class="header-container__nav--items">About Us</div>
        </div>
        <div class="flex-20 header-container__options">
            <div class="header-container__nav--login">Login</div>
            <div class="header-container__options--get-started">
                <div class="header-container__nav--get-started">GET STARTED</div>
            </div>
        </div>
    </div>
</div>